<div ng-controller="workCtrl">
    <div>
        <h3 class="title">工作台</h3>
    </div>
    <ul id="allList">
        <li class="list_content">
            <div id="first">
                <div class="list_title">

                </div>
                <h4 class="content_head">This is first list.</h4>
                <ul id="list1" class="dragtrue">
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                    <li>
                        <h3>123</h3>
                    </li>
                </ul>

            </div>

        </li>
        <li class="list_content">
            <div id="second">
                <h4 class="content_head">this is second list.</h4>
                <ul id="list2" class="dragtrue">
                </ul>
            </div>
        </li>
        <li class="list_content">
            <div id="third">
                <h4 class="content_head">this is third list.</h4>
                <ul id="list3" class="dragtrue" style="padding: 10px;">

                </ul>
            </div>
        </li>
        <li class="list_content">
            <div id="forth">
                <h4 class="content_head">this is forth list.</h4>
                <ul id="list4" class="dragtrue" style="padding: 10px;">

                </ul>
            </div>
        </li>
        <li class="list_content">
            <div id="fifth">
                <h4 class="content_head">this is fifth list.</h4>
                <ul id="list5" class="dragtrue" style="padding: 10px;">

                </ul>
            </div>
        </li>

    </ul>
</div>